@custom-media --viewport-medium (max-width: 100rem);
:root {
    --blue: blue;
}

@media(--viewport-medium) {
    body {
        color: #12345678;
    }
}

.logo {
    width: 200px;
    height: 200px;
    margin: 30px auto;
    color: var(--blue);
}

.title {
    margin: 10px auto;
    line-height: 1;
    font-size: 40px;
    color: #2B3A42;
    text-align: center;
}

.content {
    margin-top: 50px;
}

.foot {
    margin-top: 20px;
    text-align: center;
    border: 1px solid;
    color: #111;
}

span {
    font-size: 20px;
    color: #465E69;
    text-align: center;
}

a {
    color: #8ED6FB;
}

::placeholder {
    color: gray;
}

@media(width > 100px) {
    span {
        font-size: 30px;
        font-family: system-ui;
    }
}
